<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  
<ion-grid [fixed]="true">
  <ion-row class="ion-justify-content-center">
    
         
            <ion-input label="contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su password" helperText="ingrese una contraseña"></ion-input>
          <ion-col size="12" id="campos">
            <ion-input label="repita la contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su password de nuevo" helperText="repita la contraseña"></ion-input>
          </ion-col>
            <br>
        <ion-col size="12">
          <ion-button [routerLink]="['/login']">Cambiar contraseña</ion-button>
        </ion-col>
  </ion-row>
</ion-grid>
<p>Desliza hacia abajo para reiniciar la pestaña</p>
</ion-content>
 