<ion-header >
  <ion-toolbar >
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" id="campos">
        <ion-input [(ngModel)]="nombre" name="nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre" helperText="Ingrese un nombre"></ion-input>
      </ion-col>
      <ion-col size="12" id="campos">
        <ion-input [(ngModel)]="contrasena" name="contrasena" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña" helperText="Ingrese una contraseña válida"></ion-input>
      </ion-col>
      <br>
      <ion-col size="12">
        <ion-text [routerLink]="['/recuperacion']">¿Has olvidado tu contraseña?</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button (click)="ingresarNombre()">Iniciar sesion</ion-button>
      </ion-col>
         
    </ion-row>
    
  