
.campos {
  height: 150px;
  justify-content: center;
  outline-color: black;
}
ion-text{
  margin-left: 20%;
  margin-top: 40px;
}
ion-button{
  margin-top: 50px;
  margin-left: 30%;
 
}
ion-input {
  margin-top: 50px;
}