ion-col {
  height: 150px;
  justify-content: center;
  outline-color: black;
}
.campos {
  height: 150px;
  justify-content: center;
  outline-color: black;
}
ion-text{
  display: flex;
  justify-content: center;
}
ion-button{
  margin-top: -50px;
  display: flex;
  justify-content: center;
}
ion-input {
  margin-top: 50px;
}
