<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text> ¡Bienvenid@ a TeLlevoApp</ion-text>
</ion-content>

 

  <div class="container">
    <div class="campo_email"> 
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su email" helperText="ingrese un email valido"></ion-input>
    </div>
    <br>
    <div class="campo_password">
      <ion-input label="password" label-placement="floating" fill="outline" placeholder="Ingrese su password" helperText="ingrese una contraseña valida"></ion-input>
    </div>
    <div>
      <ion-button expand="block">Ingresar</ion-button>
    </div>
  </div>
