<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12"> 
        <ion-text>Bienvenido a TeLLevoApp </ion-text>
      </ion-col>
    </ion-row>
 </ion-grid>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    
    <ion-col size="12"> 
 
        <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Ingrese su email" helperText="ingrese un email valido"></ion-input>
    
      <br>
        <ion-input label="Password" label-placement="floating" fill="outline" placeholder="Ingrese su password" helperText="ingrese una contraseña valida"></ion-input>

        <ion-button expand="block">Ingresar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-footer>
  <ion-toolbar>
    <ion-title>TeLLevoApp</ion-title>
  </ion-toolbar>
</ion-footer>