<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card [ngClass]="{'bounce': animationState === 'end'}" #card>
      <ion-card-content>Bienvenido, {{ nombre }}.</ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
